<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Myanmar Flood Information</title>
	<meta name="description" content="ေရေဘး သတင္းေတြ ဖတ္ခ်င္တာပဲျဖစ္ျဖစ္၊ ကိုယ္တိုင္ သတင္းေတြ၀ေ မၽွခ်င္တာပဲျဖစ္ျဖစ္ တစ္ေနရာထဲမွာ အလြယ္တကူ ဖတ္လို႔၊ share လို႔ရပါၿပီ။ ဒါ့အျပင္ ကိုယ္တိုင္လွူဒါန္းခ်င္တဲ့သူေတြအတြက္ ဆက္သြယ္လို႔ရမဲ့ အဖြဲ႕ ေတြရဲ့ လိပ္စာေတြ၊ ဖုန္းနံပါတ္ေတြလည္းပါ၀င္ပါတယ္။ ကိုယ္တိုင္လည္း အဖြဲ႕အသစ္ေတြကို ထည့္သြင့္းေပးလို႔ရပါတယ္။">
	<meta name="keywords" content="myanmar,myanmar-flood,flood-2015">
	<link rel="stylesheet" href="style/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
</head>
<body>
	<div class="mdl-layout mdl-js-layout">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
		  <div class="mdl-layout__header-row">
		    <!-- Title -->
		    <span class="mdl-layout-title">Myanmar Flood Information</span>
		    <!-- Add spacer, to align navigation to the right -->
		    <div class="mdl-layout-spacer"></div>

		    <!-- Navigation. We hide it in small screens. -->
		    <p class="app-download-link mdl-color-text--white mdl-layout--large-screen-only">Download Android App from <a href="https://play.google.com/store/apps/details?id=org.mmaug.InfoCenter">Play Store</a> or Direct
				<a href="https://goo.gl/CxXzyH">Download Link</a></p>
		  </div>
		  <div class="mdl-layout__header-row mdl-layout--large-screen-only" id="nav-second-header">
	  	    <nav class="mdl-navigation">
	  	      	<a class="mdl-navigation__link is-active" href="/">Donation Groups</a>
	  			<a class="mdl-navigation__link" href="/news">News</a>
	  	    </nav>
	  	    <a href="/form" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent" id="add-donation-gp-btn">
	  	      <i class="material-icons mdl-color-text--white" role="presentation">add</i>
	  	      <span class="visuallyhidden">add</span>
	  	    </a>
		  </div>
		</header>
		<div class="mdl-layout__drawer">
		  <span class="mdl-layout-title">Myanmar Flood Data</span>
		  <nav class="mdl-navigation">
          	<a class="mdl-navigation__link" href="/">Donation Groups</a>
    		<a class="mdl-navigation__link" href="/news">News</a>
    		<a class="mdl-navigation__link" href="/form">Add Donation Group</a>
    		<div class="drawer-separator"></div>
    		<a class="mdl-navigation__link" target="_blank" href="https://play.google.com/store/apps/details?id=org.mmaug.InfoCenter">Get it on Play Store</a>
    		<a class="mdl-navigation__link" target="_blank" href="https://goo.gl/CxXzyH">Direct Download Link</a>
		  </nav>
		</div>
		<main class="mdl-layout__content" id="main-container">

			<section class="section--center mdl-grid" id="main-content">

				<div class="mdl-cell--6-col">
					<h3 class="page-title mdl-cell--6-col">Donation Group Lists</h3>
				</div>

				<!-- Filter Serach -->
				<div class="mdl-cell--6-col filter-container">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
			                  mdl-textfield--floating-label mdl-textfield--align-right">
			        	<label class="mdl-button mdl-js-button mdl-button--icon"
			               for="search-at-header">
			          	<i class="material-icons">search</i>
			        	</label>
				        <div class="mdl-textfield__expandable-holder">
				          <input class="mdl-textfield__input" type="text" name="sample" id="search-at-header" />
				        </div>
			      	</div>
				</div>

				<div id="donation-groups" class="mdl-grid">

					<!-- Show loading text and hide after data are ready -->
					<div id="loading" v-if="loading"><h4>Loading ...</h4></div>

					<h5 class="total" v-if="total">We collect {{ total }} donation group lists.</h5>

					<div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--2dp" v-repeat="groups" data-search="{{ title | lowercase }} : {{ description | lowercase }} : {{ donation_location | lowercase }}">
						<div class="mdl-card__title mdl-card--expand">
							<h2 class="mdl-card__title-text">{{ title }}</h2>
						</div> <!-- end of div.mdl-card__title -->

						<div class="mdl-card__supporting-text">
							<p class="group-description">{{ description | truncate 100 }}</p>
						</div>

						<div class="mdl-card__actions mdl-card--border">
							<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
							href="{{ facebook_url }}" target="_blank" v-if="facebook_url">
								Facebook Url
							</a>
							<div class="mdl-layout-spacer"></div>

							<button class="mdl-button mdl-js-button mdl-button--icon show-info" v-on="click : showDetailBox(description, phone_numbers, donation_location)">
								<i class="material-icons">info</i>
							</button>
						</div> <!-- end of div.mdl-card__actions -->
					</div> <!-- end of div.mdl-card -->

				</div> <!-- end of div#donation-groups -->

			</section> <!-- end of section#main-content -->

		</main> <!-- end of #main-container -->

	</div> <!-- end of div.mdl-layout -->
	<script src="js/app.min.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65871410-1', 'auto');
  ga('send', 'pageview');



</script>
</body>
</html>
