<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Myanmar Flood Data</title>
	<link rel="stylesheet" href="style/style.css">
</head>
<body>
	
	<div class="mdl-layout mdl-js-layout">
		
		<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary" id="page-header">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">Myanmar Flood Data</span>
				<div class="mdl-layout-spacer"></div>
				<nav class="mdl-navigation ">
					<a class="mdl-navigation__link" href="/">Donation Groups</a>
					<a class="mdl-navigation__link" href="/news">News</a>
					<a class="mdl-navigation__link" href="/form">Add Donation Group</a>
				</nav>
			</div>
		</header> <!-- end of header -->

		<main class="mdl-layout__content" id="main-container">

			<section class="section--center mdl-grid" id="main-content">

				<div id="new-feed">
					<h3 class="page-title">Post Flood News</h3>
					<div>
						<form action="#" method="POST">
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input class="mdl-textfield__input" type="text" id="title" v-model="title" />
								<label class="mdl-textfield__label" for="title">Title</label>
							</div>
							<p class="error" v-if="invalidTitle">New title is required</p>
							<div class="mdl-textfield mdl-js-textfield">
								<textarea v-model="description" class="mdl-textfield__input" type="text" rows= "3" id="description" ></textarea>
								<label class="mdl-textfield__label" for="description">Description</label>
							</div>
							<p class="error" v-if="invalidDescription">New description is required</p>
							
							<input type="submit" value="Post" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" v-on="click : postNew">
							<span v-if="newIsPosting">Posting...</span>
						</form>
					</div>

					<h3 class="page-title">News Feed</h3>
					
					<!-- Show loading text and hide after data are ready -->
					<div id="loading" v-if="loading"><h4>Loading ...</h4></div>

					<div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp" v-repeat="news">
						<div class="mdl-card__title">
							<h2 class="mdl-card__title-text">{{ title }}</h2>
						</div> <!-- end of div.mdl-card__title -->
						<div class="mdl-card__supporting-text">
							<p>{{ description }}</p>
						</div> <!-- end of div.mdl-card__supporting-text -->
					</div> <!-- end of div.mdl-card -->
					
				</div> <!-- end of div#donation-groups -->

			</section> <!-- end of section#main-content -->
			
		</main> <!-- end of #main-container -->

	</div> <!-- end of div.mdl-layout -->

	<script src="js/material.min.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/vue-resource.min.js"></script>
	<script src="js/app.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65871410-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
