<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body data-page="donate">
  <div class="mdl-layout mdl-js-layout">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <% include partials/topbar %>
    <% include partials/drawer %>
    <main class="mdl-layout__content" id="main-container">
      <section class="section--center mdl-grid" id="main-content">
      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            <a href="#kunyi-map-panel" class="mdl-tabs__tab is-active">Flooded Locations by Townships</a>
            <a href="#kokoye-map-panel" class="mdl-tabs__tab">Possible Flooded Locations by Villages</a>
        </div>

        <div class="mdl-tabs__panel is-active" id="kunyi-map-panel">
          Locations data are taken from <a href="https://kunyi.asia/">kunyi.asia</a>.
          <div id="kunyi-map" style="height: 768px; width: 1025px;"></div>            
        </div>
        <div class="mdl-tabs__panel" id="kokoye-map-panel">
          Locations data are provided by <a href="https://www.facebook.com/kokoye2007">Ko Ko Ye</a>.
          <div id="kokoye-map" style="height: 768px; width: 1025px;"></div>
        </div>
      </div>
      
      </section> <!-- end of section#main-content -->

    </main> <!-- end of #main-container -->
  </div> <!-- end of div.mdl-layout -->
  <% include partials/scripts %>
</body>
</html>