<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title"><a href="/" class="site-name">Myanmar Flood Information</a></span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    
    <div class="mdl-layout--large-screen-only">
      <a href="https://play.google.com/store/apps/details?id=org.mmaug.InfoCenter" 
         data-ga='button|click|play-store'>
        <img alt="Android app on Google Play"
             target="blank"
             src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png" />
      </a>
      &nbsp;
      &nbsp;
      <a href="http://bit.ly/infocenter-apk-latest">
        <img src="img/download.png" alt="Download Direct">
      </a>
    </div>
    
  </div>
  <div class="mdl-layout__header-row mdl-layout--large-screen-only" id="nav-second-header">
      <nav class="mdl-navigation nav-layout">
      <a class="mdl-navigation__link donate" href="/">Donation Groups</a>
      <a class="mdl-navigation__link news" href="/news">News</a>
      <a class="mdl-navigation__link map" href="/flood-locations">Flooded Locations</a>
      <a class="mdl-navigation__link online-donation" href="/campaigns">Online Donations</a>
      <a class="mdl-navigation__link about" href="/about-us">About Us</a>
      </nav>
  </div>
</header>
