
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Myanmar Flood Information</span>
  <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">Donation Groups</a>
    <a class="mdl-navigation__link" href="/news">News</a>
    <a class="mdl-navigation__link" href="/flood_locations">Flooded Locations</a>
    <div class="drawer-separator"></div>
    <a class="mdl-navigation__link" href="https://www.indiegogo.com/projects/help-flood-victims-in-burma-survive#/story" target="_blank">Help Flood Victims</a>
    <div class="drawer-separator"></div>
    <a class="mdl-navigation__link" target="_blank" href="https://play.google.com/store/apps/details?id=org.mmaug.InfoCenter">Get it on Play Store</a>
    <a class="mdl-navigation__link" target="_blank" href="https://goo.gl/CxXzyH">Direct Download Link</a>
  </nav>
</div>