<a href="/form" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent mdl-shadow--2dp" id="add-donation-gp-btn">
  <i class="material-icons mdl-color-text--white" role="presentation">add</i>
  <span class="visuallyhidden">add</span>
</a>