<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title"><a href="/" class="site-name">Myanmar Flood Information</a></span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    
    <div class="mdl-layout--large-screen-only">
      <a href="https://play.google.com/store/apps/details?id=org.mmaug.InfoCenter">
          <img alt="Android app on Google Play"
             src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
      </a>
      &nbsp;
      &nbsp;
      <a href="http://bit.ly/infocenter-apk-latest">
        <img src="img/download.png" alt="Download Direct">
      </a>
    </div>
    
  </div>
  <div class="mdl-layout__header-row mdl-layout--large-screen-only" id="nav-second-header">
      <nav class="mdl-navigation">
          <a class="mdl-navigation__link is-active" href="/">Donation Groups</a>
      <a class="mdl-navigation__link" href="/news">News</a>
      <a class="mdl-navigation__link" href="/flood-locations">Flooded Locations</a>
      <a class="mdl-navigation__link" href="/campaigns">Online Donations</a>
      <a class="mdl-navigation__link" href="/dashboard">Dashboard</a>
      </nav>
  </div>
</header>
