<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Myanmar Flood Information</title>
  <meta name="description" content="ေရေဘး သတင္းေတြ ဖတ္ခ်င္တာပဲျဖစ္ျဖစ္၊ ကိုယ္တိုင္ သတင္းေတြ၀ေ မၽွခ်င္တာပဲျဖစ္ျဖစ္ တစ္ေနရာထဲမွာ အလြယ္တကူ ဖတ္လို႔၊ share လို႔ရပါၿပီ။ ဒါ့အျပင္ ကိုယ္တိုင္လွူဒါန္းခ်င္တဲ့သူေတြအတြက္ ဆက္သြယ္လို႔ရမဲ့ အဖြဲ႕ ေတြရဲ့ လိပ္စာေတြ၊ ဖုန္းနံပါတ္ေတြလည္းပါ၀င္ပါတယ္။ ကိုယ္တိုင္လည္း အဖြဲ႕အသစ္ေတြကို ထည့္သြင့္းေပးလို႔ရပါတယ္။">
  <meta name="keywords" content="myanmar,myanmar-flood,flood-2015">
  <meta property="og:image" content="http://myanmarflood.info/img/metaimage.png" />
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/tharlon.css">
  <link rel="stylesheet" href="style/style.css">
</head>
<body class="about" data-page="about">
	<div class="mdl-layout mdl-js-layout">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	  <header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title"><a href="/" class="site-name">Myanmar Flood Information</a></span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    
    <div class="mdl-layout--large-screen-only">
      <a href="https://play.google.com/store/apps/details?id=org.mmaug.InfoCenter">
          <img alt="Android app on Google Play"
             src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
      </a>
      &nbsp;
      &nbsp;
      <a href="http://bit.ly/infocenter-apk-latest">
        <img src="img/download.png" alt="Download Direct">
      </a>
    </div>
    
  </div>
  <div class="mdl-layout__header-row mdl-layout--large-screen-only" id="nav-second-header">
      <nav class="mdl-navigation nav-layout">
      <a class="mdl-navigation__link donate" href="/">Donation Groups</a>
      <a class="mdl-navigation__link news" href="/news">News</a>
      <a class="mdl-navigation__link map" href="/flood-locations">Flooded Locations</a>
      <a class="mdl-navigation__link online-donation" href="/campaigns">Online Donations</a>
      <a class="mdl-navigation__link about" href="/about-us">About Us</a>
      </nav>
  </div>
</header>

	 	
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title"><img src="img/logo.png" width="32px" alt="Myanmar Flood Information"> Info Center</span>
  <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">Donation Groups</a>
        <a class="mdl-navigation__link" href="/news">News</a>
        <a class="mdl-navigation__link" href="/flood-locations">Flooded Locations</a>
        <a class="mdl-navigation__link" href="/campaigns">Online Donations</a>
        <a class="mdl-navigation__link" href="/about-us">About Us</a>
        <div class="drawer-separator"></div>
        <a class="mdl-navigation__link" target="_blank" href="https://play.google.com/store/apps/details?id=org.mmaug.InfoCenter">Get it on Play Store</a>
        <a class="mdl-navigation__link" target="_blank" href="http://bit.ly/infocenter-apk-latest">Direct Download Link</a>
  </nav>
</div>

	 	<main class="mdl-layout__content" id="main-container">

	 	  <section class="section--center mdl-grid" id="main-content">

	 	    <div class="mdl-title-box mdl-cell--12-col">
	 	      <h3 class="page-title">About us</h3>
	 	    </div>

	 	    <div class="md-cell md-cell-12-col mdl-shadow--4dp" id="about-us">

	 	    	<p>Our team is formed by developers from Myanmar. Our goal is to provide a centralised platform for information regarding flood disaster happening right now (Jul 2015/ Aug 2015). We collect information from any sources we can find both on the internet and the outside world. We also provide a platform for peer reporting of news.</p>

	 	    	<p>Some of our volunteers are checking validity of the news but still we are in need of more volunteers.</p>

	 	    	<strong>Here is our growing list of contributors:</strong>

	 	    	<h4>Android App</h4>
	 	    	<p>Github : <a href="https://github.com/MMAUG/FloodInfo">https://github.com/MMAUG/FloodInfo</a></p>
				
				<ul>
					<li>
						Swan Htet Aung 
						<a href="https://twitter.com/swanhtet1992" class="twitter-link">@swanhtet1992</a>
					</li>
					<li>
						Ye Lin Aung 
						<a href="https://twitter.com/yelinaung" class="twitter-link">@yelinaung</a>
					</li>
					<li>
						Ye Myat Thu 
						<a href="https://twitter.com/pichigui" class="twitter-link">@pichigui</a>
					</li>
					<li>
						Ye Mon Kyaw 
						<a href="https://twitter.com/yemonkyawlay" class="twitter-link">@yemonkyawlay</a>
					</li>
					<li>
						Poe Poe Myint Swe 
						<a href="https://twitter.com/PoePoeMyintSwe" class="twitter-link">@PoePoeMyintSwe</a>
					</li>
				</ul>

	 	    	<h4>Web Frontend</h4>
				<p> Github : <a href="https://github.com/MMAUG/flood-website">https://github.com/MMAUG/flood-website</a></p>
				<ul>
					<li>
						Ye Lin Aung 
						<a href="https://twitter.com/yelinaung" class="twitter-link">@yelinaung</a>
					</li>
					<li>
						Nyan Lynn Htut 
						<a href="https://twitter.com/NyanLynnHtut" class="twitter-link">@NyanLynnHtut</a>
					</li>
					<li>
						Pwint Phyu Kyaw (Li Jia Li) 
						<a href="https://twitter.com/EyeOfDragonLi" class="twitter-link">@EyeOfDragonLi</a>
					</li>
					<li>
						Thuya Myo Nyunt 
						<a href="https://twitter.com/thuyamyonyunt" class="twitter-link">@thuyamyonyunt</a>
					</li>
					<li>
						Chan Myae San Hlaing 
						<a href="https://twitter.com/jjrofriloc" class="twitter-link">@jjrofriloc</a>
					</li>
					<li>
						Set Kyar Wa Lar 
						<a href="https://twitter.com/setkyarwalar" class="twitter-link">@setkyarwalar</a>
					</li>
					<li>
						Win Htaik Aung 
						<a href="https://twitter.com/winhtaikaung" class="twitter-link">@winhtaikaung</a>
					</li>
					<li>
					  Arkar Aung
						<a href="https://twitter.com/darkar1001" class="twitter-link">@darkar1001</a>
					</li>
				</ul>
	 	    	<h4>Web API Backend</h4>
	 	    	<p> Github : <a href="https://github.com/alt332/floodinfo-myanmar">https://github.com/alt332/floodinfo-myanmar</a></p>
				<ul>
					<li>
						Thiha Tun 
						<a href="https://twitter.com/alt332" class="twitter-link">@alt332</a>
					</li>
					<li>
						Kaung Htet Zaw 
						<a href="https://twitter.com/khzaw" class="twitter-link">@khzaw</a>
					</li>
					<li>
						Thar Htet 
						<a href="https://twitter.com/kotharthar" class="twitter-link">@kotharthar</a>
					</li>
					<li>
						Ravi Chabra 
						<a href="https://twitter.com/ravichhabra" class="twitter-link">@ravichhabra</a>
					</li>
				</ul>
	 	    	<h4>Map Data Credits</h4>
				<ul>
					<li>
						Ye Min Oo (Ko Ko Ye) 
						<a href="https://twitter.com/kokoye2007" class="twitter-link">@kokoye2007</a>
					</li>
					<li>
						Kyaw Naing Win 
						<!-- <a href="https://twitter.com/" class="twitter-link"></a> -->
					</li>
				</ul>
	 	    </div>
	 	  </section>
	 	</main>
  <script src="../js/app.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65871410-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>