<!DOCTYPE html>
<html lang="en" ng-app="MyanmarFlood">
<% include partials/head %>
<body class="news" data-page="news">
  <div class="mdl-layout mdl-js-layout">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <% include partials/topbar %>
    <% include partials/drawer %>
    <%- include('partials/material_add_button', {addUrl: 'news-form'}) %> 
    
    <main class="mdl-layout__content" id="main-container">

      <section class="section--center mdl-grid" id="main-content">

        <div class="mdl-title-box mdl-cell--12-col">
          <h3 class="page-title">News Feeds</h3>
        </div>

        <div id="cards-group" ng-controller="NewsFeedsCtrl">

          <div class="mdl-grid" id="scrolled-area" scrolled-handler="nextPage()" scrolled-container="#main-container" scrolled-content="#main-content">

            <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp" 
                ng-repeat="news in newsfeeds">
              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text" ng-bind-html="news.title"></h2>
              </div> <!-- end of div.mdl-card__title -->

              <div class="mdl-card__supporting-text">
                <p ng-bind-html="news.description"></p>
              </div> <!-- end of div.mdl-card__supporting-text -->
              <div class="mdl-card__actions mdl-card--border">
                <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                  ng-click="reportNews($index)">
                  Report this news
                </button>
                <span class="mdl-card__time">{{ news.posted_time|moment }}</span>
              </div>
            </div> <!-- end of div.mdl-card -->


            <div id="loading" ng-show="loading">
              <svg class="circular">
                <circle class="path" cx="50" cy="50" r="20" 
                  fill="none" stroke-width="2" stroke-miterlimit="10"/>
              </svg>
            </div>
          </div>
        </div> <!-- end of div#donation-groups -->
      </section> <!-- end of section#main-content -->

    </main> <!-- end of #main-container -->
    </div> <!-- end of div.mdl-layout -->
  <% include partials/scripts %>
</body>
</html>