<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body data-page="about">
	<div class="mdl-layout mdl-js-layout">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	  	<% include partials/topbar %>
	 	<% include partials/drawer %>

	 	<main class="mdl-layout__content" id="main-container">

	 	  <section class="section--center mdl-grid" id="main-content">

	 	    <div class="mdl-title-box mdl-cell--12-col">
	 	      <h3 class="page-title">About us</h3>
	 	    </div>

	 	    <div class="md-cell md-cell-12-col mdl-shadow--4dp" id="about-us">
	 	    	Writing in Progress. Coming Soon ...... 
	 	    </div>

	 	  </section>
	 	</main>
</body>
</html>