<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body class="about" data-page="about">
	<div class="mdl-layout mdl-js-layout">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	  	<% include partials/topbar %>
	 	<% include partials/drawer %>

	 	<main class="mdl-layout__content" id="main-container">

	 	  <section class="section--center mdl-grid" id="main-content">

	 	    <div class="mdl-title-box mdl-cell--12-col">
	 	      <h3 class="page-title">About us</h3>
	 	    </div>

	 	    <div class="md-cell md-cell-12-col mdl-shadow--4dp" id="about-us">

	 	    	<p>Our team is formed by developers from Myanmar. Our goal is to provide a centralised platform for information regarding flood disaster happening right now (Jul 2015/ Aug 2015). We collect information from any sources we can find both on the internet and the outside world. We also provide a platform for peer reporting of news.</p>

	 	    	<p>Some of our volunteers are checking validity of the news but still we are in need of more volunteers.</p>

	 	    	<strong>Here is our growing list of contributors:</strong>

	 	    	<h4>Android App</h4>
	 	    	<p>Github : <a href="https://github.com/MMAUG/FloodInfo">https://github.com/MMAUG/FloodInfo</a></p>
				
				<ul>
					<li>
						Swan Htet Aung 
						<a href="https://twitter.com/swanhtet1992" class="twitter-link">@swanhtet1992</a>
					</li>
					<li>
						Ye Lin Aung 
						<a href="https://twitter.com/yelinaung" class="twitter-link">@yelinaung</a>
					</li>
					<li>
						Ye Myat Thu 
						<a href="https://twitter.com/pichigui" class="twitter-link">@pichigui</a>
					</li>
					<li>
						Ye Mon Kyaw 
						<a href="https://twitter.com/yemonkyawlay" class="twitter-link">@yemonkyawlay</a>
					</li>
					<li>
						Poe Poe Myint Swe 
						<a href="https://twitter.com/PoePoeMyintSwe" class="twitter-link">@PoePoeMyintSwe</a>
					</li>
				</ul>

	 	    	<h4>Web Frontend</h4>
				<p> Github : <a href="https://github.com/MMAUG/flood-website">https://github.com/MMAUG/flood-website</a></p>
				<ul>
					<li>
						Ye Lin Aung 
						<a href="https://twitter.com/yelinaung" class="twitter-link">@yelinaung</a>
					</li>
					<li>
						Nyan Lynn Htut 
						<a href="https://twitter.com/NyanLynnHtut" class="twitter-link">@NyanLynnHtut</a>
					</li>
					<li>
						Pwint Phyu Kyaw (Li Jia Li) 
						<a href="https://twitter.com/EyeOfDragonLi" class="twitter-link">@EyeOfDragonLi</a>
					</li>
					<li>
						Thuya Myo Nyunt 
						<a href="https://twitter.com/thuyamyonyunt" class="twitter-link">@thuyamyonyunt</a>
					</li>
					<li>
						Chan Myae San Hlaing 
						<a href="https://twitter.com/jjrofriloc" class="twitter-link">@jjrofriloc</a>
					</li>
					<li>
						Set Kyar Wa Lar 
						<a href="https://twitter.com/setkyarwalar" class="twitter-link">@setkyarwalar</a>
					</li>
					<li>
						Win Htaik Aung 
						<a href="https://twitter.com/winhtaikaung" class="twitter-link">@winhtaikaung</a>
					</li>
					<li>
					  Arkar Aung
						<a href="https://twitter.com/darkar1001" class="twitter-link">@darkar1001</a>
					</li>
				</ul>
	 	    	<h4>Web API Backend</h4>
	 	    	<p> Github : <a href="https://github.com/alt332/floodinfo-myanmar">https://github.com/alt332/floodinfo-myanmar</a></p>
				<ul>
					<li>
						Thiha Tun 
						<a href="https://twitter.com/alt332" class="twitter-link">@alt332</a>
					</li>
					<li>
						Kaung Htet Zaw 
						<a href="https://twitter.com/khzaw" class="twitter-link">@khzaw</a>
					</li>
					<li>
						Thar Htet 
						<a href="https://twitter.com/kotharthar" class="twitter-link">@kotharthar</a>
					</li>
					<li>
						Ravi Chabra 
						<a href="https://twitter.com/ravichhabra" class="twitter-link">@ravichhabra</a>
					</li>
				</ul>

	 	    	<h4>Map Data Credits</h4>
				<ul>
					<li>
						Ye Min Oo (Ko Ko Ye) 
						<a href="https://twitter.com/kokoye2007" class="twitter-link">@kokoye2007</a>
					</li>
					<li>
						Kyaw Naing Win 
						<!-- <a href="https://twitter.com/" class="twitter-link"></a> -->
					</li>
				</ul>
	 	    </div>

	 	  </section>
	 	</main>
</body>
</html>