<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body data-page="about">
	<div class="mdl-layout mdl-js-layout">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	  	<% include partials/topbar %>
	 	<% include partials/drawer %>

	 	<main class="mdl-layout__content" id="main-container">

	 	  <section class="section--center mdl-grid" id="main-content">

	 	    <div class="mdl-title-box mdl-cell--12-col">
	 	      <h3 class="page-title">About us</h3>
	 	    </div>

	 	    <div class="md-cell md-cell-12-col mdl-shadow--4dp" id="about-us">

	 	    	<p>Our team is formed by developers from Myanmar. Our goal is to provide a centralised platform for information regarding flood disaster happening right now (Jul 2015/ Aug 2015). We collect information from any sources we can find both on the internet and the outside world. We also provide a platform for peer reporting of news.</p>

	 	    	<p>Some of our volunteers are checking validity of the news but still we are in need of more volunteers.</p>

	 	    	<strong>Here is our growing list of contributors:</strong>

	 	    	<h4>Android App</h4>
	 	    	<p>Github : <a href="https://github.com/MMAUG/FloodInfo">https://github.com/MMAUG/FloodInfo</a></p>
				
				<ul>
					<li>Swan Htet Aung</li>
					<li>Ye Lin Aung</li>
					<li>Ye Myat Thu</li>
					<li>Ye Mon Kyaw</li>
					<li>Poe Poe Myint Swe</li>
				</ul>

	 	    	<h4>Web Frontend</h4>
				<p> Github : <a href="https://github.com/MMAUG/flood-website">https://github.com/MMAUG/flood-website</a></p>
				<ul>
					<li>Ye Lin Aung</li>
					<li>Nyan Lynn Htut</li>
					<li>Pwint Phyu Kyaw (Li Jia Li)</li>
					<li>Thuya Myo Nyunt</li>
					<li>Chan Myae San Hlaing</li>
					<li>Set Kyar Wa Lar</li>
					<li>Win Htaik Aung</li>
				</ul>

	 	    	<h4>Web API Backend</h4>
	 	    	<p> Github : <a href="https://github.com/alt332/floodinfo-myanmar">https://github.com/alt332/floodinfo-myanmar</a></p>
				<ul>
					<li>Thiha Tun</li>
					<li>Kaung Htet Zaw</li>
					<li>Thar Htet</li>
					<li>Ravi Chabra</li>
				</ul>

	 	    	<h4>Information Collectors</h4>
				<ul>
					<li>Ye Min Oo (Ko Ko Ye)</li>
					<li>Kyaw Naing Win</li>
				</ul>
	 	    </div>

	 	  </section>
	 	</main>
</body>
</html>