<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body data-page="dashboard">
  <div class="mdl-layout mdl-js-layout">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <% include partials/topbar %>
    <% include partials/drawer %>
    <main class="mdl-layout__content" id="main-container">
      <section class="section--center mdl-grid " id="main-content">

        <div class="mdl-title-box mdl-cell--12-col">
          <h3 class="page-title">Population Area Dashboard</h3>
        </div>

        <div id="flood-dashboard" class="mdl-grid mdl-cell--12-col">

          

          <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-shadow--2dp" data-search="keep hope alive charity foundation : 15th intake students of university of computer study yangon(ucsy) organized this foundation since 2013. we also focus to support victims who are in diaster region. : ucsy">
          <div id="sample_map_2" style="height:500px">

              </div>
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">လူဦးရေပြမြေပုံ</h2>
            </div> <!-- end of div.mdl-card__title -->

            <div class="mdl-card__supporting-text">
              <p class="group-description">အသေးစိတ်ကြည့်ရန်</p>
            </div>

            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://m.facebook.com/UCSYCHARITYFOUNDATION" target="_blank">
                Facebook Link
              </a>
              <div class="mdl-layout-spacer"></div>

              <button class="mdl-button mdl-js-button mdl-button--icon show-info">
                <i class="material-icons">info</i>
              </button>
            </div> <!-- end of div.mdl-card__actions -->
          </div>
          
        </div> <!-- end of div#online-donations -->

      </section> <!-- end of section#main-content -->
    </main>
  </div> <!-- end of div.mdl-layout -->
  <% include partials/scripts %>
</body>
</html>