<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body data-page="donate">
  <div class="mdl-layout mdl-js-layout">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <% include partials/topbar %>
    <% include partials/drawer %>
    <%- include('partials/material_add_button', {addUrl: 'news-form'}) %> 
    
    <main class="mdl-layout__content" id="main-container">

      <section class="section--center mdl-grid" id="main-content">

        <div id="new-feed" class="mdl-cell mdl-cell--12-col" >

          <div class="mdl-title-box mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
            <h3 class="page-title">New Feeds</h3>
          </div>

          <!-- Filter Serach -->
          <div class="mdl-title-box mdl-cell mdl-cell--6-col 
                      mdl-cell--12-col-tablet filter-container">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable 
                        mdl-textfield--floating-label mdl-textfield--align-right">
              <label class="mdl-button mdl-js-button mdl-button--icon"
                   for="search-at-header">
                <i class="material-icons">search</i>
              </label>
              <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" name="sample" id="search-at-header" />
              </div>
            </div>
          </div>

          <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp" v-repeat="news" data-search="{{ title | lowercase }} : {{ description | lowercase }}">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text"> {{ title }} </h2>
            </div> <!-- end of div.mdl-card__title -->
            <div class="mdl-card__supporting-text">
              <p>{{ description }}</p>
            </div> <!-- end of div.mdl-card__supporting-text -->
            <div class="mdl-card__actions mdl-card--border">
              <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
              v-on="click : reportNew(id)">
                Report this news
              </button>
              <span class="mdl-card__time"> {{ posted_time | moment }} </span>
            </div>
          </div> <!-- end of div.mdl-card -->

          <!-- Show loading text and hide after data are ready -->
          <div id="loading" v-if="loading">
            <!-- http://codepen.io/jczimm/pen/vEBpoL -->
            <svg class="circular">
              <circle class="path" cx="50" cy="50" r="20" 
                fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
          </div>

        </div> <!-- end of div#donation-groups -->

      </section> <!-- end of section#main-content -->

    </main> <!-- end of #main-container -->
    </div> <!-- end of div.mdl-layout -->
  <% include partials/scripts %>
</body>
</html>